/**
 * @name Jigglecord
 * @author Keo.CS
 * @description Skew so it looks like its jiggling idkanymore :sob:;
 * @version 1.0
*/

#app-mount {
  transform: skew(0deg, 0deg);
  transform-origin: center center;
  animation: skewWiggle 0.5s ease-in-out infinite alternate;
}

@keyframes skewWiggle {
  0%   { transform: skew(-5deg, -3deg); }
  25%  { transform: skew(5deg, 3deg); }
  50%  { transform: skew(-5deg, -3deg); }
  75%  { transform: skew(5deg, 3deg); }
  100% { transform: skew(0deg, 0deg); }
}