/**
 * @name Overlap+
 * @author Keo.CS
 * @description Everything overlaps.
 * @version 1.0
*/

* {
  margin: -2px !important;
  padding: 0 !important;
  z-index: 1 !important;
}

.guilds-2Ue6dG, .guild-1EfMGh, .guildIcon-2uL0bY {
  margin-top: -5px !important;
}

.message-2qnXI6 {
  margin-top: -8px !important;
}

.containerDefault-7RImuF, .name-2SL4ev {
  margin-top: -4px !important;
}
